In [35]:
import pandas as pd
import numpy as np

In [39]:
data = pd.read_csv("data/usa_county_wise.csv")
data.head()

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,Combined_Key,Date,Confirmed,Deaths
0,16,AS,ASM,16,60.0,NaN,American Samoa,US,-14.271000,-170.132000,"American Samoa, US",1/22/20,0,0
1,316,GU,GUM,316,66.0,NaN,Guam,US,13.444300,144.793700,"Guam, US",1/22/20,0,0
2,580,MP,MNP,580,69.0,NaN,Northern Mariana Islands,US,15.097900,145.673900,"Northern Mariana Islands, US",1/22/20,0,0
3,63072001,PR,PRI,630,72001.0,Adjuntas,Puerto Rico,US,18.180117,-66.754367,"Adjuntas, Puerto Rico, US",1/22/20,0,0
4,63072003,PR,PRI,630,72003.0,Aguada,Puerto Rico,US,18.360255,-67.175131,"Aguada, Puerto Rico, US",1/22/20,0,0

# MEANING OF EACH PARAMETERS


**UID**: Unique Identifier for the row, often used as a primary key.

**iso2**: Two-letter country code as per the ISO 3166-1 alpha-2 standard (e.g., "US" for the United States).

**iso3**: Three-letter country code as per the ISO 3166-1 alpha-3 standard (e.g., "USA" for the United States).

**code3**: Numeric country code as per the ISO 3166-1 numeric standard (e.g., 840 for the United States).

**FIPS**: Federal Information Processing Standards code, a five-digit code used to uniquely identify counties and county equivalents in the United States.

**Admin2**: Secondary administrative division, typically refers to the county name or equivalent.

**Province_State**: Primary administrative division, typically refers to the state or province name.

**Country_Region**: The country or region name.

**Lat**: Latitude of the location, used for geographic positioning.

# PREPARE DATA

In [40]:
#check for missing values.
data.isnull().sum()

UID                  0
iso2                 0
iso3                 0
code3                0
FIPS              1880
Admin2            1128
Province_State       0
Country_Region       0
Lat                  0
Long_                0
Combined_Key         0
Date                 0
Confirmed            0
Deaths               0
dtype: int64

In [23]:
# Drop column
data = data.drop(["FIPS", "Admin2"], axis=1)
data.head()

,UID,iso2,iso3,code3,Province_State,Country_Region,Lat,Long_,Combined_Key,Date,Confirmed,Deaths
0,16,AS,ASM,16,American Samoa,US,-14.271000,-170.132000,"American Samoa, US",1/22/20,0,0
1,316,GU,GUM,316,Guam,US,13.444300,144.793700,"Guam, US",1/22/20,0,0
2,580,MP,MNP,580,Northern Mariana Islands,US,15.097900,145.673900,"Northern Mariana Islands, US",1/22/20,0,0
3,63072001,PR,PRI,630,Puerto Rico,US,18.180117,-66.754367,"Adjuntas, Puerto Rico, US",1/22/20,0,0
4,63072003,PR,PRI,630,Puerto Rico,US,18.360255,-67.175131,"Aguada, Puerto Rico, US",1/22/20,0,0

In [41]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 627920 entries, 0 to 627919
Data columns (total 14 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   UID             627920 non-null  int64
 1   iso2            627920 non-null  object
 2   iso3            627920 non-null  object
 3   code3           627920 non-null  int64
 4   FIPS            626040 non-null  float64
 5   Admin2          626792 non-null  object
 6   Province_State  627920 non-null  object
 7   Country_Region  627920 non-null  object
 8   Lat             627920 non-null  float64
 9   Long_           627920 non-null  float64
 10  Combined_Key    627920 non-null  object
 11  Date            627920 non-null  object
 12  Confirmed       627920 non-null  int64
 13  Deaths          627920 non-null  int64
dtypes: float64(3), int64(4), object(7)
memory usage: 67.1+ MB

In [43]:
data.duplicated().sum()

0

In [42]:
# Display summary statistics
data.describe()

,UID,code3,FIPS,Lat,Long_,Confirmed,Deaths
count,6.279200e+05,627920.000000,626040.000000,627920.000000,627920.000000,627920.000000,627920.000000
mean,8.342958e+07,834.491617,33061.684685,36.707212,-88.601474,357.284285,17.536328
std,4.314702e+06,36.492620,18636.156825,9.061572,21.715747,3487.282694,300.991466
min,1.600000e+01,16.000000,60.000000,-14.271000,-174.159600,0.000000,0.000000
25%,8.401811e+07,840.000000,19079.000000,33.895587,-97.790204,0.000000,0.000000
50%,8.402921e+07,840.000000,31014.000000,38.002344,-89.486710,4.000000,0.000000
75%,8.404612e+07,840.000000,47131.000000,41.573069,-82.311265,63.000000,1.000000
max,8.410000e+07,850.000000,99999.000000,69.314792,145.673900,224051.000000,23500.000000